<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 配置文件 -->
    <properties resource="application-dev.properties"></properties>

    <context id="MysqlContext" targetRuntime="MyBatis3" defaultModelType="flat">

        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 由于beginningDelimiter和endingDelimiter的默认值为双引号(")，在Mysql中不能这么写，所以还要将这两个默认值改为`  -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!-- 为生成的Java模型创建一个toString方法 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>

        <!-- 为生成的Java模型类添加序列化接口，并生成serialVersionUID字段 -->
        <plugin type="com.lyn.common.plugin.SerializablePlugin">
            <property name="suppressJavaInterface" value="false"/>
        </plugin>

        <!-- 生成一个新的selectByExample方法，这个方法可以接收offset和limit参数，主要用来实现分页，只支持mysql(已使用pagehelper代替) -->

        <!-- 生成在XML中的<cache>元素 -->
        <!--<plugin type="org.mybatis.generator.plugins.CachePlugin">
            &lt;!&ndash; 使用ehcache &ndash;&gt;
            <property name="cache_type" value="org.mybatis.caches.ehcache.LoggingEhcache" />
        </plugin>-->

        <!-- Java模型生成equals和hashcode方法 -->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"></plugin>

        <!-- 生成的代码去掉注释 -->
        <commentGenerator type="com.lyn.common.plugin.CommentGenerator">
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库连接 -->
        <jdbcConnection driverClass="${mysql.datasource.driverclass}"
                        connectionURL="${mysql.datasource.url}"
                        userId="${mysql.datasource.username}"
                        password="${mysql.datasource.password}" />

        <!-- model生成 -->
        <javaModelGenerator targetPackage="com.lyn.sys.api.entity" targetProject="E:\personal_file\lyn-parents\lyn-sys\sys-api\src\main\java" />

        <!-- MapperXML生成 -->
        <sqlMapGenerator targetPackage="mapping" targetProject="E:\personal_file\lyn-parents\lyn-sys\sys-service\src\main\resources" />

        <!-- Mapper接口生成 -->
        <javaClientGenerator targetPackage="com.lyn.sys.service.mapper" targetProject="E:\personal_file\lyn-parents\lyn-sys\sys-service\src\main\java" type="XMLMAPPER" />

        <!-- 需要映射的表 -->
        <table tableName="user_info" domainObjectName="UserInfo">
            <generatedKey column="user_id" sqlStatement="MySql" identity="true"/>
        </table>
        </context>
</generatorConfiguration>
